	<link rel="stylesheet" href="css/style.css">
	<div class="wrapper" ng-controller="loginCtrl">
		<div class="container">
			<h1>Welcome to Exam simulation system</h1>

			<form class="form">
				<input type="text" placeholder="Username" ng-model="username">
				<input type="password" placeholder="Password" ng-model="password">
				<button type="buttons" ng-click="login()">Login</button>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>